@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

a:active {
  color: initial;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

details[open] summary {
  outline: none;
}

summary {
  display: block;
}

summary:focus {
  outline: none;
}

summary:hover {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding: 0 calc(50% - 570px);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin-right: 13px;
}

.logo__text {
  font-family: "Lato";
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  color: #222;
  text-transform: uppercase;
}

.logo__text_pink {
  font-family: "Lato";
  font-size: 27px;
  font-weight: 900;
  line-height: 32px;
  color: #f16d7f;
}

.button {
  display: block;
  background-color: #f16d7f;
}

.button:hover {
  background-color: #e05c6e;
}

.dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #ececec;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 37px;
}

.header .search__input {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #a4a4a4;
  width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 15px;
  border: 1px solid #e6e6e6;
  border-left: none;
}

.header .search__button {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #a4a4a4;
  padding: 6px 11px;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header .search__button:focus {
  outline: none;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26px;
  padding: 6px 19px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
}

.header__button:visited {
  color: #fff;
}

.header__button:active {
  color: #fff;
}

.header__button::after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  margin-left: 8px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browse {
  position: relative;
}

.browse[open]::after {
  content: url("../img/arrow-top.png");
  position: absolute;
  top: 40px;
  left: 64px;
}

.browse__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 9px 6px 15px;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #222;
}

.browse__summary::after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #838383;
  margin-left: 8px;
}

.browse .browse-dropdown {
  padding: 6px 12px 18px;
  width: 261px;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.browse .browse-content__heading {
  padding-left: 3px;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #222;
  text-transform: uppercase;
}

.browse .browse-content__category {
  padding-left: 9px;
  margin-top: 9px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #4f4f4f;
}

.browse .browse-content__link:hover {
  color: #f16d7f;
}

.header-cart {
  position: relative;
}

.header-cart[open] {
  -webkit-transform: none;
          transform: none;
}

.header-cart[open]::after {
  content: ' ';
  position: absolute;
  top: 50px;
  left: 17px;
  z-index: 20;
  border: solid #e8e8e8;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  background-color: #fff;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.header-cart__icon:hover path {
  fill: #f16d7f;
}

.header-cart__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px 15px;
  margin-top: 20px;
  width: 261px;
}

.header-cart__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #f2f2f2;
}

.header-cart .cart-card {
  margin-left: 15px;
}

.header-cart .cart-card__name {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #222;
  text-transform: uppercase;
}

.header-cart .cart-card__raiting {
  width: 55px;
  height: 13px;
  margin-bottom: 13px;
  background-image: url(../img/cart-rating.jpg);
}

.header-cart .cart-card__price {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #f16d7f;
}

.header-cart__delete {
  margin-left: 52px;
  color: #c0c0c0;
  cursor: pointer;
}

.header-cart__delete:hover {
  color: #afafaf;
}

.header-cart__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 32px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #222;
  text-transform: uppercase;
}

.header-cart__btn {
  display: block;
  width: 100%;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  text-transform: uppercase;
  text-align: center;
}

.header-cart__btn:first-of-type {
  margin-bottom: 11px;
}

.header-cart__btn:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}
/*# sourceMappingURL=style.css.map */